/* about.css */

.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  padding: 0;

}

#about-header {
  margin-top: 0;
  padding-top: 0;
  color: #4CAF50;
  text-align: center;
  font-size: 2.5em;
  background: aqua;
  position: absolute; /* or 'absolute' depending on your layout needs */
  left: 0;
  width: 100vw;
}


#welcome-text {
  font-style: italic;
  color: #555;
  padding-top: 4rem;
}

#purpose-header,
#offer-header,
#team-header {
  color: #4CAF50;
  margin-top: 20px;
  font-size: 2em; /* Adjusted font size for sub-headers */
}

#purpose-text,
#offer-text,
#team-text {
  line-height: 1.5;
}

#offer-text strong {
  color: #4CAF50;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
  }
  1% {
    visibility: visible;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

/* Initial state for animating elements: hidden and positioned */
#about-header,
#welcome-text,
#purpose-header,
#purpose-text,
#offer-header,
#offer-text,
#team-header,
#team-text {
  visibility: hidden;  /* Hide elements initially */
  transform: translateX(-100%);
  opacity: 0;
}

/* Apply animation with different delays */
#about-header {
  animation: 1s ease-out 0s 1 slideInFromLeft forwards;
}

#welcome-text {
  animation: 1s ease-out 0.5s 1 slideInFromLeft forwards;
}

#purpose-header {
  animation: 1s ease-out 1s 1 slideInFromLeft forwards;
}

#purpose-text {
  animation: 1s ease-out 1.5s 1 slideInFromLeft forwards;
}

#offer-header {
  animation: 1s ease-out 2s 1 slideInFromLeft forwards;
}

#offer-text {
  animation: 1s ease-out 2.5s 1 slideInFromLeft forwards;
}

#team-header {
  animation: 1s ease-out 3s 1 slideInFromLeft forwards;
}

#team-text {
  animation: 1s ease-out 3.5s 1 slideInFromLeft forwards;
}

/* Add this to your about.css file */
/* CSS animation for fading in images */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Optionally, you can add a vertical translation */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply the animation to your image elements */
.small-image {
  width: 550px;
  height: 495px;
  opacity: 0; /* Start with the image hidden */
  animation: fadeIn 1s ease-out forwards; /* Apply the fade-in animation */
}

/* Simplified CSS animation for fading in the image */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Apply the animation directly to the "img" element */
img.image1 {
  opacity: 0; /* Start with the image hidden */
  animation: fadeIn 1s ease-out forwards; /* Apply the fade-in animation */
}


