/* Define default light mode colors */
:root {
  --text-color: #333; /* Dark color for light mode */
  --background-color: #e6f7e6; /* Light green background */
  --button-bg-color: #f8f8f8; /* Light color for buttons */
  --button-text-color: #333; /* Dark text color for buttons */
}

/* Detect dark mode preference */
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #ddd; /* Light color for dark mode */
    --background-color: #333; /* Darker background for dark mode */
    --button-bg-color: #444; /* Dark color for buttons in dark mode */
    --button-text-color: #fff; /* Light text color for buttons in dark mode */
  }
}

.survey-container {
  background-color: var(--background-color);
  padding: 20px;
  max-width: 600px; /* Adjusted for larger buttons */
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.survey-title {
  color: var(--text-color); /* Apply the text color variable */
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--text-color); /* Using variable for text color */
}

.feelings-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 15px;
}

.feeling-button {
  padding: 15px 20px; /* Increased padding for larger buttons */
  margin: 10px; /* Larger margin for spacing */
  border: 1px solid #ccc;
  background-color: var(--button-bg-color); /* Using variable for button background */
  color: var(--button-text-color); /* Using variable for button text color */
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  border-radius: 6px; /* Slightly rounded corners */
  font-size: 16px; /* Larger font size for readability */
  min-width: 120px; /* Minimum width for consistency */
  text-align: center; /* Center text and emoji */
}

.feeling-button.selected {
  background-color: #b2d8b2; /* Slightly darker green for selection */
  border-color: #7fa07f;
}

#custom-feeling, #comments {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px; /* Added margin for spacing */
  color: var(--text-color); /* Using variable for text color */
}

button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #4caf50; /* Green color for submit button */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px; /* Larger font size */
}

button[type="submit"]:hover {
  background-color: #449d48; /* Darker green on hover */
}
