.top-bar {
  display: flex;
  justify-content: space-between;
  background-color: #905fa3;
  padding: 10px; /* Add padding for spacing */
  margin-top: 20px; /* Add margin to push the flexbox down from the top */
}


.horizontal-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0; /* Remove list margin */
  padding: 0; /* Remove list padding */
}

.horizontal-links li {
  margin-right: 20px; /* Add spacing between the links */
}

/* Add these styles to your existing CSS or create a new CSS file */
.horizontal-links a {
  text-decoration: none;
  color: #150d24; /* Change the link color to your preferred color */
  text-transform: uppercase; /* Convert text to uppercase */
  font-size: 16px; /* Adjust the font size to your preferred size */
}

