.dark-mode {
  background-color: black;
  color:white;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  background-color: #905fa3;
  padding: 10px; /* Add padding for spacing */
  margin-top: 20px; /* Add margin to push the flexbox down from the top */
}


.horizontal-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0; /* Remove list margin */
  padding: 0; /* Remove list padding */
}

.horizontal-links li {
  margin-right: 20px; /* Add spacing between the links */
}

/* Add these styles to your existing CSS or create a new CSS file */
.horizontal-links a {
  text-decoration: none;
  color: #150d24; /* Change the link color to your preferred color */
  text-transform: uppercase; /* Convert text to uppercase */
  font-size: 16px; /* Adjust the font size to your preferred size */
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  /*background-image: url("https://images.pexels.com/photos/1287145/pexels-photo-1287145.jpeg?cs=srgb&dl=pexels-eberhard-grossgasteiger-1287145.jpg&fm=jpg");*/
  
  background-size: 200% 200%;
  
}

a {
  text-decoration: none;
  color: #000;
}

.App-header-nav-links {
  list-style: none;
  padding: 7px;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 1em;
  font-size: 30px;
}
.App-header {
  display: flex;
  justify-content: space-between; /* Push items to both left and right sides */
  align-items: center;
  padding-top: 10px; /* Adjust the top padding as needed */
  padding-bottom: 10px; /* Adjust the bottom padding as needed */
  width: 100vw; /* Full width */
  background-color: lightgreen; /* Background color */
  z-index: 1000; /* Ensure it's above other content */
}



.App-header-nav-links a:hover {
  text-decoration: underline;
  background: aqua;

}

#languageDialog::backdrop {
  background-color: gray;
  opacity: 0.75;
}


.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px; /* Adjust the margin as needed to control spacing */
}


/* In your CSS file (e.g., footer.css) */
.footer {
  background-color: black; /* Background color */
  color: #fff; /* Text color */
  text-align: center; /* Center-align text */
  padding: 10px; /* Add padding for spacing */
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 2.5rem;
}

.router-app-content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

.MyAwesomeRootElementClassName {
  position: relative;
  min-height: 100vh;
}
